/* Elementos ocultos por default */
#seletor-cidade, #cidades, #confirma-cidade-seletor, #consumo-medio, #rede, #face-da-casa, #telhado, #contato, #kit-energia-solar, #fim-calculadora, #consumo-medio #media-mensal, #consumo-medio #media-12-meses {
  display: none;
}
/* Estilização de fontes em geral para open sans */
* {
  font-family: 'Open Sans', sans-serif;
}
/* Botão para abrir calculadora */
#abre-calculadora {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -85px;
  margin-top: -23px;
}
/* Header */
.modal-header h4 strong {
  color: #f8a035;
}
/* Body */
.modal-body {
  padding: 25px 15px;
}
/* Setas */
#setas {
  display: table;
  width: 100%;
  position: absolute;
  top: 18px;
  left: 0;
  padding: 0 30px;
}
#setas div {
  width: 10px;
  height: 15px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
#setas div.inactive {
  opacity: 0;
}
#seta-anterior {
  float: left;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #f8a035 transparent transparent;
}
#seta-proxima {
  float: right;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #f8a035;
}
/* Slides */
#geolocalizacao-cidade button {
  margin-top: 15px;
}
#consumo-medio p {
  margin-bottom: 20px;
}
#consumo-medio button {
  margin-top: 15px;
}
#consumo-medio input, #contato input {
  width: 100%;
  margin-bottom: 10px;
}
#consumo-medio #media-mensal input {
  margin: 0 auto 10px;
  display: block;
  width: initial;
}
#consumo-medio #media-mensal.active, #consumo-medio #media-12-meses.active {
  display: block;
}
#consumo-medio #seletor-consumo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
#consumo-medio #seletor-consumo p {
  display: inline-block;
  margin: 0;
}
#consumo-medio #seletor-consumo p.active {
  font-weight: bold;
}
#consumo-medio #seletor-consumo p:first-of-type {
  margin-right: 10px;
}
#consumo-medio #seletor-consumo p:last-of-type {
  margin-left: 10px;
}
#face-da-casa #ilustracao-faces {
  width: 70%;
  height: 266px;
  background: url('face-norte-sul.jpg') no-repeat;
  background-size: contain;
  margin: 50px auto;
  position: relative;
}
.face-casa {
  position: absolute;
}
#face-norte {
  top: 188px;
  left: -72px;
}
#face-noroeste {
  bottom: -30px;
  left: 50px;
}
#face-nordeste {
  top: 84px;
  left: -40px;
}
#face-sul {
  top: 113px;
  right: -56px;
}
#face-sudeste {
  top: 55px;
  right: 50px;
}
#face-sudoeste {
  bottom: 20px;
  right: -40px;
}
#face-leste {
  top: 31px;
  left: 91px;
}
#face-oeste {
  bottom: -42px;
  right: 84px;
}
#telhado button {
  width: 100%;
  margin-bottom: 10px;
}
#telhado button:first-child {
  margin-top: 10px;
}
#telhado button:last-child {
  margin-bottom: 0;
}
#kit-energia-solar button, #fim-calculadora button, #confirma-contato {
  margin-top: 15px;
}
/* Footer */
.modal-footer {
  position: relative;
}
.modal-footer p {
  text-align: center;
  padding: 0px 35px;
  position: relative;
  z-index: 1;
  font-size: 12px;
}
.modal-footer p span {
  cursor: pointer;
}
.modal-footer p span.active {
  font-weight: bold;
  color: #f8a035;
}
.modal-footer p span.inactive {
  color: #cccccc;
  cursor: inherit;
}
.modal-header h4 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 1.7em;
}
@media only screen and (max-width: 492px) {
  #contato input, #contato button {
    width: 100%;
  }
  #contato input {
    margin-bottom: 10px;
  }
}
